body,html{
  width: 100%;
  height:100%;
  overflow-x: hidden;
}

nav.navbar{
  border: 0px;
  background-color: #e8cef1;
  margin: 0 ;
  z-index: 2;
  height: 130px;
  border-bottom: 1px solid gold;
}



.navbar-brand {
  position: absolute;
  margin-top: -15px;
}

.navbar-brand img{
   width: 170px;
   height: 130px;
}

.land{
  position: relative;
}

#menuz{
  border: 0px;
  width: 100%;
}
nav li{
  top: 35px;
  height: 50px;
}

nav li a {

  font-family: 'Great vibes', cursive;
  font-size: 40px;
  color: #a78d00!important;
}

.landingpage{
  position: relative;
  height: 80%;
  width: 100%;
  background-image: url('images/cake14.jpg');
  background-size: cover;
  background-position: center;
  animation: shrink 5s infinite alternate;
}
@keyframes shrink {
  0% {
    background-size: 100% 130%;
  }
  100% {
    background-size: 120% 150% ;
  }
}

.landingpage:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
}

.landingpage:focus {
transform: scale(1.5);
}

.landingpage h1{
  margin: 0;
  position: absolute;
  color: white;
  font-size: 60px;
  font-family: 'Dancing script', serif;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.filler{
  position: relative;
  height: auto;
}

.filler h1{
  margin-top: 30px;
  color: #a78d00;
  font-size: 40px;
  font-family: 'Great vibes', cursive;

}

.wrapper{
  width: 100%;
}


.menu{
  width: auto;

}
.menu ul li{
  display: inline-block;
  float: left;
  display:list-item;
  list-style-position:outside;
  list-style-type:disc;
  margin: 30px;
}


.menu ul li a{
  font-family: 'Great vibes', cursive;
  font-size: 40px;
  color: black!important;


}
.menu ul li a.active{
  color: #b3a21f!important;
}

.header{
  width: auto;
  float: left;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


.content{
  position: relative;
  width: 100%;
  padding-left: 0px;
  display: inline-block;

}




.card{
  width: 20%;
  z-index: 1;

}

.card img{
  width: 100%;
  height: 330px;
}

.card:hover{
  -moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
  z-index: 2;
}

@media only screen and (max-width:600px) {
  .filler h1{
    font-size:10px;

    font-family: 'Great vibes', cursive;
  }

  #menuz{
    position: absolute;
    width: 100%;
    background-color:white;
    z-index: -1;
    text-align: center;
    margin-top: 55px;
  }
  #menuz ul{
    margin-top:-15px;
    height: 240px;
  }
  nav.navbar{
    height: 100px;
  }

  .navbar-brand{
    margin-left: -20px;
    margin-top: -20px;
  }
  .navbar-brand img{
    width: 120px;
    height: 105px;
  }


  .card{
    width: 50%;
  }

  .card img{
    height: 200px;
  }

  .landingpage h3{
    font-size: 50px;
  }
  .menu ul li a{
    font-size: 19px;
  }
  .menu ul li{
    margin: 8px;
  }
  .header{
    margin-left: -18px;
  }
  .filler h1{
    font-size: 25px;
  }
  .devider img{
    height: 20px;
    width: 60%;
  }

}



.insta{
  position: relative;
  width: 100%;
  height:auto;
  margin: 35px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.insta h1{

  margin: 0 auto;
}
.footer{
  background-color: #e8cef1;
  background-size:100% ;
  background-position: center center;
  position: relative;
  margin-top: 20px;
  padding: 0px;
  border-top: 1px solid gold;
}


.footer p{
  font-family: 'Great vibes', cursive;
  font-size: 30px;
  color: #a78d00!important;
}

.footer a{
  padding: 0;
  font-family: 'Great vibes', cursive;
  font-size: 25px;
  color: #a78d00!important;
}
.footerheading{
  padding-top: 20px;
}
.footer:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.footer i{
  color: #a78d00!important;
  margin-left: 5px;
  margin-right: 5px;

}
@media only screen and (max-width:600px) {
  .footer{
    background-image: url('images/cake6.jpg');
    background-size:180% 180%;
    position: relative;
    margin-top: 20px;
    padding: 0px;
  }
  .insta h1{
    font-size: 25px;
  }
  .footer p{
    font-size: 25px;

  }

  .footer a{
    font-size: 20px;
  }
  .footerheading{
    padding-top: 10px;
  }
}
